/*
 * JBoss, a division of Red Hat
 * Copyright 2010, Red Hat Middleware, LLC, and individual
 * contributors as indicated by the @authors tag. See the
 * copyright.txt in the distribution for a full listing of
 * individual contributors.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */

/***************************** Consumer Form Style ************************/

.UIWsrpPortlet .cons-temp-form,
.UIWsrpPortlet .producer-temp-form {
   height: 27px;
}

.UIWsrpPortlet .UIGrid {
   border: 1px solid #B7B7B7;
   margin-bottom: 0.3em;
}

.UIWsrpPortlet .ConsumerGrid thead tr th,
.UIWsrpPortlet .ConsumerGrid tbody tr td {
   border: 1px solid #B7B7B7;
}

.UIWsrpPortlet .create-container {
   position: relative;
}

.UIWsrpPortlet .list-cons-link {
   text-decoration: underline;
   color: darkblue;
}

/***************************** Messages Style ************************/

.portlet-msg-success {
   color: darkgreen;
   background: url('background/SelectIcon.gif') no-repeat left top;
   list-style: none;
   padding: 0 0 0 20px;
   font-weight: bold;
}

.portlet-msg-warn {
   color: orange;
   background: url('background/Warning.gif') no-repeat left top;
   list-style: none;
   padding: 0 0 0 20px;
   font-weight: bold;
}

.portlet-msg-error {
   color: darkred;
   background: url('background/Error.gif') no-repeat left top;
   list-style: none;
   padding: 0 0 0 20px;
   font-weight: bold;
}

/***************************** GrayTabStyle ************************/

.UIWsrpPortlet .TabsActionContainer {
   position: absolute;
   bottom: -1px;
   width: auto;
}

.UIWsrpPortlet .TabsContainer {
   height: 29px;
   position: relative;
}

.UIHorizontalTabs .UITab {
   float: left; /* orientation=lt */
   font-weight: bold;
   text-align: center;
   width: auto;
}

.UIWsrpPortlet .GrayTabStyle {
   margin-right: 2px; /* orientation=lt */
}

.UIWsrpPortlet .GrayTabStyle .NormalTab .LeftTab {
   background: url(background/TabEditInline.gif) no-repeat left top;
   padding-left: 4px;
   cursor: pointer;
}

.UIWsrpPortlet .GrayTabStyle .NormalTab .RightTab {
   background: url(background/TabEditInline.gif) no-repeat right top;
   padding-right: 4px;
}

.UIWsrpPortlet .GrayTabStyle .NormalTab .MiddleTab {
   background: url(background/TabEditInline.gif) repeat-x left -25px;
   line-height: 25px;
   color: #000;
   padding: 0px 8px;
   font-weight: normal;
}

.UIWsrpPortlet .GrayTabStyle .SelectedTab .LeftTab {
   background: url(background/TabEditInline.gif) no-repeat left -50px;
   padding-left: 4px;
   cursor: pointer;
}

.UIWsrpPortlet .GrayTabStyle .SelectedTab .RightTab {
   background: url(background/TabEditInline.gif) no-repeat right -50px;
   padding-right: 4px;
}

.UIWsrpPortlet .GrayTabStyle .SelectedTab .MiddleTab {
   background: url(background/TabEditInline.gif) repeat-x left -75px;
   line-height: 25px;
   color: #000;
   padding: 0px 8px;
   font-weight: normal;
}

.UIWsrpPortlet .tab-blank {
   border-bottom: 1px solid #B7B7B7;
}

.UIWsrpPortlet .ActionButton {
   line-height: 19px;
   text-align: center;
   background: url('background/LightBlueStyle.gif') repeat-x center;
   white-space: nowrap;
   padding: 0 12px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   border: 1px solid #8A8A8A;
   border-bottom: 1px solid #5D5D5D;
   display: inline-block;
   margin: 0;
   cursor: pointer;
}

.UIWsrpPortlet .bar {
   padding: .4em;
   margin: 0 0 0.3em 0;
   border: 1px solid #B7B7B7;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background: #eee;
}
